.header {
    display: flex;
    margin-top: 50px;
    margin-bottom: 30px;
}

.header-detail {
    width: 50vw;
}

.header-apply {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-apply button {
    margin-right: 10px !important;
}

.roleName {
    font-size: 2em;
}

.companyName {
    font-size: 1.5em;
}